apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  labels:
    run: venv
  name: venv
  namespace: kube-system
spec:
  selector:
    matchLabels:
      run: venv
  template:
    metadata:
      labels:
        run: venv
    spec:
      volumes:
        - name: code
          hostPath:
            path: $PWD
        - name: containers
          hostPath:
            path: /var/lib/docker/containers
      containers:
      - name: venv
        args:
        - tail
        - -f
        - /dev/null
        image: venv
        imagePullPolicy: Never
        volumeMounts:
          - name: containers
            mountPath: /var/lib/docker/containers/
            readOnly: true
          - name: code
            mountPath: /code
      restartPolicy: Always
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  labels:
    app: tailf
  name: tailf
  namespace: kube-system
spec:
  selector:
    matchLabels:
      name: tailf
  template:
    metadata:
      labels:
        name: tailf
    spec:
      containers:
      - name: tailf
        image: busybox
        args:
        - sh
        - -c
        - 'for i in $(seq 1000); do printf "% 3i %s\n" $i "$(date)"; sleep 2; done'
      restartPolicy: Always
